{% extends "base.html" %}
{% load static %}
{% load board %}

{% block title %}
Welcome on the site!
{% endblock %}


{% block custom_css %}
<link rel="stylesheet" href="{% static "css/style.css" %}"> {% endblock %}

{% block app_specific_js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}


{% block nav_right_top_list %}
<li class="messages-menu">
  <a href="#">
    <strong>Volby končí za x dní</strong>
  </a>
</li>
{% endblock %}

{% block custom_sidebar_list %}
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">PŘEHLED JEDNOTLIVÝCH TŘID</li>

    {% for letter, grades in classes.items %}
    <li class="treeview">
      <a href="#">
        <i class="fa fa-share"></i><span> {{ letter }}</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>

      <ul class="treeview-menu" style="display: none;">

        {% for grade, classes in grades.items %}
        <li class="treeview">
          <a href="#"><i class="fa fa-circle-o"></i> Stupeň: {{ grade }}
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
          </a>
          <ul class="treeview-menu">
          {% for class in classes %}
            <li><a href="#"><i class="fa fa-circle-o"></i> {{ class }}</a></li>
          {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </li>
</ul>
{% endblock %}


{% block header %}
<h1>Přehled tříd</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Volby</a></li>
  <li class="active">Přehled tříd</li>
</ol>
{% endblock %}


{% block content %}
  {% if class_name is None %}
    <h3>Vyberte si třídu ze seznamu</h3>

    {% for letter, grades in classes.items %}
      {% for grade, classes in grades.items %}
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-maroon" style="padding: 5px 0 0 7px">
              {{ letter|cut:"*" }}{{ grade }}*
            </span>

            <div class="info-box-content class-link-wrapper">
              {% for class in classes %}
                <a class="class-link" href="class?name={{ class }}">{{ class }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <hr />
    {% endfor %}
  {% else %}
    {% students_board students disable_votes reason %}
  {% endif %}
{% endblock %}
