{% extends "base.html" %}
{% load static %}

{% block title %}
Welcome on the site!
{% endblock %}


{% block custom_css %}
{% endblock %}


{% block content %}
  <h1>ahoj</h1>
{% endblock %}


{% block nav_right_top_list %}
<li class="messages-menu">
  <a href="#">
    <strong>Volby končí za x dní</strong>
  </a>
</li>
{% endblock %}

{% block custom_sidebar_list %}
{% endblock %}


{% block header %}
<h1>
  Title
  <small>Version 2.0</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">Dashboard</li>
</ol>
{% endblock %}
