{% extends "base.html" %}
{% load static %}


{% block title %}
Hlavni stranka administrace
{% endblock %}


{% block custom_css %}
{% endblock %}


{% block nav_right_top_list %}
{% endblock %}


{% block custom_sidebar_list %}
{% endblock %}


{% block header %}
<h1>Vítejte na úvodní stránce<small>Version 2.0</small></h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">Dashboard</li>
</ol>
{% endblock %}


{% block content %}
    <h1></h1>
    <div class="panel-group" id="faqAccordion">
          <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                   <h4 class="panel-title">
                      <a class="ing">Jak vytvořit nové volby?</a>
                </h4>
              </div>
              <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                       <h5><span class="label label-primary">Odpověď</span></h5>
                      <ol>
                        <li>V menu vyberte Správa voleb</li>
                        <li>Nad tabulkou aktuální volby je velké zelené + klikněte na něj (Pokud nevidíte + tak už probíhají volby a další nelze vytvořit)</li>
                        <li>Vyskočí na vás formulář, ten vyplńte svou akci tlačítkem pod formlářem potvrdíte</li>
                      </ol>
                  </div>
              </div>
          </div>
          <!-- !-->
        <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                   <h4 class="panel-title">
                      <a class="ing">Jak upravit aktuální volby?</a>
                </h4>
              </div>
              <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                       <h5><span class="label label-primary">Odpověď</span></h5>
                      <ol>
                        <li>V menu vyberte Správa voleb</li>
                        <li>V tabulkce aktuální volby klikněte na modrý klíč </li>
                        <li>Vyskočí na vás formulář, ten vyplńte svou akci tlačítkem pod formlářem potvrdíte</li>
                      </ol>
                  </div>
              </div>
          </div>
       <!-- !-->
        <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                   <h4 class="panel-title">
                      <a class="ing">Jak zrušit probíhající volby?</a>
                </h4>
              </div>
              <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                       <h5><span class="label label-primary">Odpověď</span></h5>
                      <ol>
                        <li>V menu vyberte Správa voleb</li>
                        <li>V tabulkce aktuální volby klikněte na červený křížek</li>
                      </ol>
                  </div>
              </div>
          </div>
      <!-- !-->
        <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                   <h4 class="panel-title">
                      <a class="ing">Jak nahrát studenty?</a>
                </h4>
              </div>
              <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                       <h5><span class="label label-primary">Odpověď</span></h5>
                      <ol>
                        <li>V menu vyberte Správa studentů</li>
                        <li>Nad tabulkou je modré tlačítko nahrát (šipka směrem do mraku)</li>
                        <li>Vyskočí na vás formulář, ten vyplńte svou akci tlačítkem pod formlářem potvrdíte</li>
                      </ol>
                  </div>
              </div>
          </div>
              <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                   <h4 class="panel-title">
                      <a class="ing">Jak přidat studenta?</a>
                </h4>
              </div>
              <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                       <h5><span class="label label-primary">Odpověď</span></h5>
                      <ol>
                        <li>V menu vyberte Správa studentů</li>
                        <li>Nad tabulkou je zelené tlačítko +</li>
                        <li>Vyskočí na vás formulář, ten vyplńte svou akci tlačítkem pod formlářem potvrdíte</li>
                      </ol>
                  </div>
              </div>
          </div>
       <!-- !-->
        <div class="panel panel-default ">
              <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                   <h4 class="panel-title">
                      <a class="ing">Jak odebrat studenta?</a>
                </h4>
              </div>
              <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                       <h5><span class="label label-primary">Odpověď</span></h5>
                      <ol>
                        <li>V menu vyberte Správa studentů</li>
                        <li>Pro vyhledání studenta použijte vyhledací pole umístěné nad tabulkou</li>
                        <li>Vedle žáka je umístěné červený křížek na ten klikněte</li>
                      </ol>
                  </div>
              </div>
          </div>
    </div>

{% endblock %}
