<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Úvodní stránka</title>
</head>
<body>
    <h1>Vítejte na úvodní stránce</h1>
    <p>Toto je úvodní stránka administrace tato stránka vám pomůže se v administaci orientovat</p>
    <ul class="faq">
      <li class="q">
        <img src="img/arrow.png">
        Jak vytvořit nové volby?
      </li>
      <li class="a">
        <ol>
          <li>Klikněte nahoře vpravo na ikonku menu</li>
          <li>Vyberte správa voleb</li>
          <li>Nyní jste na stránce s volbami, pokud je tabulka aktuální volby prázdná, klikněte na + pokud není musíte počkat až aktuální volby skončí nebo je zrušit</li>
          <li>Vyskočí na vás nové okno kde musíte zadat informace o volbách </li>
          <li>Klikněte na tlačítko Hotovo</li>
        </ol>
      </li>
      <li class="q">
        <img src="img/arrow.png">
        Jak upravit aktuální volby?
      </li>
      <li class="a">
        <ol>
          <li>Klikněte nahoře vpravo na ikonku menu</li>
          <li>Vyberte správa voleb</li>
          <li>Nyní jste na stránce s volbami. V tabulce aktivní volby vidíte právě probíhající volby, vedle názvu voleb je modrý klíč</li>
          <li>Klikněte na klíč a upravte volby podle svého</li>
          <li>Klikněte na tlačítko Hotovo</li>
        </ol>
      </li>
      <li class="q">
        <img src="img/arrow.png">
        Jak zrušit probíhající volby?
      </li>
      <li class="a">
        <ol>
          <li>Klikněte nahoře vpravo na ikonku menu</li>
          <li>Vyberte správa voleb</li>
          <li>Nyní jste na stránce s volbami.V tabulce aktivní volby vidíte právě probíhající volby, vedle názvu voleb je červený křížek</li>
          <li>Po stisknutí křížku na vás vyskočilo okno, zde potvrďte svou akci</li>
        </ol>
      </li>
      <li class="q">
        <img src="img/arrow.png">
        Jak nahrát studenty?
      </li>
      <li class="a">
        <ol>
          <li>Připravte si soubor se studenty</li>
          <li>Klikněte nahoře vpravo na ikonku menu</li>
          <li>Vyberte správa studentů</li>
          <li>Nyní jste na stránce se studenty. Na stránce je tabulka. Nad ní klikněte na tlačítko "Nahrát studenty"</li>
          <li>Po stisknutí tlačítka na vás vyskočilo okno, zde musíte najít kde se na vašem zařízení nachází soubor se studenty a nahrát ho</li>
          <li>Počkejte dokud nevyskočí výsledek nahrávání, pokud vyskočí červné okno, řiďte se povely v něm, protože někde nastala chyba, pokud vyskočí zelené okno vše je v pořádku a studenti byli nahrání.</li>
        </ol>
      </li>
      <li class="q">
        <img src="img/arrow.png">
        Jak přidat studenta?
      </li>
      <li class="a">
        <ol>
          <li>Klikněte nahoře vpravo na ikonku menu</li>
          <li>Vyberte správa studentů</li>
          <li>Nyní jste na stránce se studenty. Na stránce je tabulka v prvním řádku tabulky je +</li>
          <li>Po stisknutí + na vás vyskočilo okno zde vyplňte informace o studentovi, kterého chcete přidat</li>
          <li>Klikněte na tlačítko Přidat</li>
        </ol>
      </li>
            <li class="q">
        <img src="img/arrow.png">
        Jak odebrat studenta?
      </li>
      <li class="a">
        <ol>
          <li>Klikněte nahoře vpravo na ikonku menu</li>
          <li>Vyberte správa studentů</li>
          <li>Nyní jste na stránce se studenty. Na stránce je tabulka, v prvním řádku je pole pro vyhledávání, zde napište jméno a příjmení studenta, při psaní se bude tabulka aktulizovat</li>
          <li>Vedle jména a třídy studenta je červené - klikněte na něj</li>
          <li>Po stisknutí - na vás vyskočilo okno, zde potvrďte svou akci</li>
        </ol>
      </li>
</ul>
</body>
</html>
