{% extends "base.html" %}
{% load static %}
{% block title %}
Správa voleb
{% endblock %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/foolishdjango.css' %}">

{% endblock %}
{%block app_specific_js %}
  <script type="text/javascript" src="{% static 'js/administration.js' %}"></script>
{% endblock %}
{% block nav_right_top_list %}
{% endblock %}
{% block custom_sidebar_list %}
{% endblock %}
{% block header %}
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">Dashboard</li>
</ol>
{% endblock %}
{% block content %}
<!-- Creation of election success!-->
{% if created_election == True%}
<div class="alert alert-success alert-dismissible fade in">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
  <strong>Výborně!</strong> Volby byly vytvořeny
</div>
{% endif %}
<!-- Create new election !-->
<span class="glyphicon glyphicon-plus glyphiconplus"  data-toggle="modal" data-target="#createNewElectionModal"></span>
<!-- Active election !-->
<table class="table">
  <caption>Aktuální volby</caption>
  <thead>
    <tr>
      <th>Název volby</th>
      <th>Začátek kola</th>
      <th>Konec kola</th>
      <th>Aktuální kolo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% if elcont.is_active_election%}
      <td>{{elcont.active_election.title}}</td>
      <td>{{elcont.active_round.start}}</td>
      <td>{{elcont.active_round.end}}</td>
      <td>{{elcont.active_round_number}}</td>
      <td><span class="glyphicon glyphicon-wrench glyphiconwrench" data-toggle="modal" data-target="#manageElectionModal"></span></td>
      <td><button type="submit" class="notAButton" value="{{elcont.active_election.title}}"><span class="glyphicon glyphicon-minus glyphiconminus"></span></button></td>
    {% else %}
      <td>Aktuálně neprobíhají žádné volby</td>
    {% endif%}
    </tr>
  </tbody>
</table>
<!-- History of elections !-->
<table class="table">
  <caption>Historie voleb</caption>
  <thead>
    <tr>
      <th>Název volby</th>
      <th>Začátek kola</th>
      <th>Konec kola</th>
      <th>Aktuální kolo</th>
    </tr>
  </thead>
  <tbody>
      {% for round in elcont.all_non_active_rounds %}
        <tr>
          <td>{{round.election_id.title}}</td>
          <td>{{round.start}}</td>
          <td>{{round.end}}</td>
          <td>{{round.round_number}}</td>
        </tr>
      {% endfor%}
  </tbody>
</table>
<!-- MODALS !-->
<!-- Create new eleciton modal !-->
<div id="createNewElectionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nové volby</h4>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="election_name">Název voleb:</label>
            <input type="text" name="election_name" class="form-control" id="election_name" required/>
          </div>
          <div class="form-group">
            <label for="election_start">Začátek voleb:</label>
            <input type="date" name="date_election_start" class="form-control" id="election_start" required min="{{today}}"/>
          </div>
          <div class="form-group">
            <label for="election_round_end">Trvání prvního kola:</label>
            <input type="number" name="first_round_days" class="form-control" id="election_round_end" placeholder="Zadejte počet dní" min="1" required/>
          </div>
          <div class="form-group">
            <label for="election_second_round_end">Trvání druhého kola:</label>
            <input type="number" name="second_round_days" class="form-control" id="election_second_round_end" placeholder="Zadejte počet dní" min="1" required/>
          </div>
          <div class="form-group">
            <label for="election_third_round_end">Trvání třetího kola (pokud na něj dojde):</label>
            <input type="number" name="third_round_days" class="form-control" id="election_third_round_end" placeholder="Zadejte počet dní" min="1" required/>
          </div>
          <input type="submit" class="btn btn-default" value="Založit nové volby"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
      </div>
    </div>
  </div>
</div>
<!--Manage Election modal -->
<div id="manageElectionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nové volby</h4>
      </div>
      <div class="modal-body">
        <form method="POST">
          {%if elcont.active_round_number == 1%}
          <!-- if 1 >= 2!-->
          <div class="form-group">
            <label for="first_election_name_new">Název voleb:</label>
            <input type="text" class="form-control" id="first_election_name_new" value="{{elcont.active_election.title}}" required/>
          </div>
          <div class="form-group">
            <label for="first_election_second_round_end">Konec druhého kola:</label>
            <input type="date" class="form-control" id="first_election_second_round_end"  min="{{today}}" value="{{elcont.second_round.convert_end_time}}" required/>
          </div>
          <div class="form-group">
            <label for="first_election_third_round_end">Konec třetího kola:</label>
            <input type="date" class="form-control" id="first_election_third_round_end"  min="{{today}}" value="{{elcont.third_round.convert_end_time}}" required/>
          </div>
          {%elif elcont.active_round_number == 2%}
          <div class="form-group">
            <label for="second_election_name">Název voleb:</label>
            <input type="text" class="form-control" id="second_election_name" value="{{elcont.active_election.title}}" required/>
          </div>
          <div class="form-group">
            <label for="second_third_round">Konec třetího kola:</label>
            <input type="text" class="form-control" id="second_third_round"  min="{{today}}" value="{{elcont.third_round.convert_end_time}}" required/>
        </div>
          {%else%}
          <div class="form-group">
            <label for="third_election_name">Název voleb:</label>
            <input type="text" class="form-control" id="third_election_name"  value="{{elcont.active_election.title}}" required/>
          </div>
          {%endif%}
          <input type="submit" class="btn btn-default" value="Uložit změny"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
